//background color for body
$body-bg: #fff;
//global text color on body
$text-color: #222;
//global font family body
$primary-font-family: 'Montserrat', sans-serif;
//font size html
$primary-font-size: 16px;

//primary background color
$primary-bg: #e63e48;
$primary-color: #e63e48;

//dice
$dic-dot-color: #e63e48;


